<table cellpadding="0" onclick="<%= js %>" cellspacing="0" border="0" class="button <%= klass %>" style="<%= style %>">
  <tr>
    <td class="b_l"></td>
    <td class="b_f"><%=h title%></td>
    <td class="b_r"></td>
  </tr>
</table>