<table class="tab" cellpadding="0" cellspacing="0" border="0" style="<%= style %>">
  <tr>
    <td class="h_lu"></td>
    <td class="">
      <div class="ht_line header" align="center" 
      style='<%= "background-image:url(#{image});background-position:0 1px;background-repeat:no-repeat;padding-left:20px;" unless image.blank? %>'>
<%= title %></div>
      <div class="h_mu"></div>
      <div class="h_f"></div>
    </td>
    <td class="h_ru"></td>
  </tr>
  <tr>
    <td class="vl_line content">&nbsp;</td>
    <td class="content"><%= body %></td>
    <td class="vr_line content">&nbsp;</td>
  </tr>
  <tr>
    <td class="lb"></td>
    <td class="hb_line content" style="line-height:1px;">&nbsp;</td>
    <td class="rb"></td>
  </tr>
</table>