<p>
  <b>Name:</b>
  <%=h @realty_type.name %>
</p>

<p>
  <b>Purpose:</b>
  <%=h @realty_type.purpose %>
</p>


<%= link_to 'Edit', edit_realty_type_path(@realty_type) %> |
<%= link_to 'Back', realty_types_path %>
