<p>
  <b>Name:</b>
  <%=h @districts.name %>
</p>

<p>
  <b>Location:</b>
  <%=h @districts.location_id %>
</p>


<%= link_to 'Edit', edit_districts_path(@districts) %> |
<%= link_to 'Back', districts_path %>
