<p>
  <b>Name:</b>
  <%=h @area_unit.name %>
</p>

<p>
  <b>Short name:</b>
  <%=h @area_unit.short_name %>
</p>


<%= link_to 'Edit', edit_area_unit_path(@area_unit) %> |
<%= link_to 'Back', area_units_path %>
